/* Body */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-color: black;
}

/* Navbar */
.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-brand h1 {
  font-size: 50px;
  font-weight: 600;
  background-image: radial-gradient(#ffffff, rgb(180, 210, 178));
  letter-spacing: 5px;
  color: transparent !important;
  background-clip: text;
  -webkit-background-clip: text;
}

.navbar.bg-dark .navbar-brand h1 {
  font-size: 28px;
  color: #fff;
}

.navbar-toggler .bar1,
.navbar-toggler .bar2,
.navbar-toggler .bar3 {
  display: block;
  height: 2px;
  width: 22px;
  border-radius: 1px;
  background-color: white;
  margin: 4px auto;
}

.navbar-toggler .bar1::before,
.navbar-toggler .bar1::after,
.navbar-toggler .bar2::before,
section {
  /* Set the background image and position it in the center */
  background-image: url("../public/images/planetbackground21.png");

  background-repeat: no-repeat; /* Prevent image from repeating */
  background-size: cover; /* Scale the image to cover the container */
  background-position: center center; /* Position the image in the center */
  height: 100vh;
}

.btn-secondary {
  color: #333;
}

.cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  letter-spacing: 1.2px;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
  animation-name: popUp;
  animation: slideInUp 1s cubic-bezier(0.65, 0.05, 0.36, 1) forwards,
    fadeIn 1s ease-out forwards;
  opacity: 0;
}
@keyframes slideInUp {
  0% {
    transform: translate(-50%, 60%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cover-text h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #0b132b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.cover-text .lead {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;

  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
  .navbar-brand h1 {
    font-size: 30px;
    font-weight: 500;
    background-image: radial-gradient(#ffffff, rgb(180, 210, 178));
    letter-spacing: 5px;
    color: transparent !important;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .cover-text {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;

    transform: translateX(-50%) translateY(-50%);
    padding: 0.8rem;
    letter-spacing: 1.2px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    animation-name: popUp;
    animation: slideInUp 1s cubic-bezier(0.65, 0.05, 0.36, 1) forwards,
      fadeIn 1s ease-out forwards;
    opacity: 0;
  }

  .cover-text h1 {
    font-size: 1.2rem;
    padding: 0.6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #0b132b;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .cover-text .lead {
    font-size: 1rem;
    padding: 0.4rem;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  }
}

/* why aai */

.learnMoreText {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tryTechHead {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #1a1a1a;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tryTechText {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.5;
  text-align: justify;
}

.botDemoText {
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.tryourtech {
  background-image: linear-gradient(to right, #fff, #e7e5e5);
  background-size: cover;
  height: "100%";
  padding: 2%;
  color: black;
}

@media (max-width: 1000px) {
  .tryTechHead {
    font-size: 1.2rem;
    margin-top: 5%;
  }

  .tryTechText {
    font-size: 1rem;
  }

  .tryourtech {
    height: auto;
    padding: 10%;
  }
}

/* Why aai */

.whyAai {
  background-image: url("../public/images/planetbackground.png");

  background-repeat: no-repeat; /* Prevent image from repeating */
  background-size: cover; /* Scale the image to cover the container */
  background-position: center center; /* Position the image in the center */
  height: 100%;
}

.boxOver {
  letter-spacing: 1.2px;

  text-align: center;
  background-color: rgba(0, 0, 0, 0.82);
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
  padding: 5%;
  margin: 2%;
}

.tryWhyHead {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 3%;
}

.tryWhyText {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: rgb(236, 232, 232);
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 768px) {
  .boxOver {
    margin: 5% 0;
    padding: 10%;
  }
  .tryWhyHead {
    font-size: 1.2rem;
  }
  .tryWhyText {
    font-size: 1rem;
  }
}

/* Token Distribution */
.tokenDistribution {
  background-image: linear-gradient(to right, #fff, #e7e5e5);
  background-size: cover;
  height: 100%;
  color: black;
  padding-top: 5rem;
  margin-top: 5rem;
}

.tokenDistHead {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #000000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 3%;
}

.tokenDistText {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: rgb(80, 80, 80);
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 768px) {
  .tokenDistribution {
    padding-top: 2rem;
    margin-top: 2rem;
  }

  .tokenDistHead {
    font-size: 2rem;
  }

  .tokenDistText {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .tokenDistHead {
    font-size: 1.8rem;
  }

  .tokenDistText {
    font-size: 1rem;
  }
}

/* Roadmap */

/* Roadmap */
.roadMap {
  background-image: url("../public/images/planetbackground3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.aaiRoadmapText {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 3%;

  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

.timeline {
  display: flex;
  flex-direction: column;
}

.timeline-row {
  display: flex;
  margin-bottom: 50px;
}

.timeline-row:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline-date {
  position: relative;
  width: 25%;
  text-align: center;
}

.timeline-circle {
  margin: 0 auto 10px;
}

.timeline-date h4 {
  font-weight: bold;
  color: #fff;
  background-color: rgba(6, 6, 6, 0.9);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.timeline-content {
  width: 75%;
  padding: 0 30px;
}

.timeline-content li {
  list-style: none;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .timeline-row {
    flex-direction: column;
  }

  .timeline-row:nth-child(even) {
    flex-direction: column;
  }

  .timeline-date {
    width: 100%;
  }

  .timeline-content {
    width: 100%;
  }
}

/* Links */

.linkClass {
  color: #ffffff;
  text-decoration: none;
}

.linkClass:hover {
  text-decoration: underline;
}
